.header {
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header h1 {
  font-size: 1.3rem;
  padding-left: 1rem;
}
